.Demo__map-maker-icon {
  color: #fd6c6c;
}

.Demo__github-icon {
  font-size: 24px;
}

.Demo__github-link {
  color: #262626;
  font-size: 20px;
}

.Demo__github-link:hover,
.Demo__github-link:active {
  color: #4078c0;
  text-decoration: none;
}

.Demo__suggestion-icon {
  margin-right: 8px;
}

.Demo__search-bar-container {
  width: 100%;
  max-width: 500px;
  margin: 40px auto 0;
  z-index: 100;
  position: relative;
}

.Demo__search-input-container {
  position: relative;
}

.Demo__autocomplete-container {
  border-bottom: honeydew;
  border-left: honeydew;
  border-right: honeydew;
  border-top: 1px solid #e6e6e6;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
  border-radius: 0 0 2px 2px;
  max-width: 500px;
  width: 100%;
  z-index: 100;
}

.Demo__suggestion-item {
  padding: 8px;
  text-align: left;
  background-color: #fff;
  cursor: pointer;
}

.Demo__suggestion-item--active {
  background-color: #fafafa;
}

input.MuiInputBase-input {
  width: 400px;
}

.search-bar-icons {
  display: flex;
}
