.navigation {

  .links-div {
    display: flex;
  }
  
  .links{
    margin: 0 10px;
    color: black;
    text-decoration: none;
    padding: 5px;
    border-radius: 5px;
  }

  // .links:hover{
  //   color:white;
  //   background-color: #FFAD43;
    
  //}
  #logo-home{
    width:100px;
  }
  #logo-home:hover{
    zoom: 1.5;
  }
  #logo-login{
    width:100px;
  }
  #logo-login:hover{
    zoom: 1.5;
  }
  #logo-register{
    width:100px;
  }
  #logo-register:hover{
    zoom: 1.5;
  }
}