.truck-card {
  max-width: 600px;
  margin: 0 auto;
  margin-top: 50px;
}

.small-ratings {
  width: 20px;
}

.menu-item {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid lightsteelblue;
  padding-bottom: 5px;
  margin-bottom: 15px;
}

.foodname-description {
  display: flex;
  flex-direction: column;
  align-items: flex-start;

  .description {
    margin-top: 5px;
    font-style: italic;
    color: lightslategray;
  }
}

.view-menu-button {
}
